<html>
  <head>
  </head>
  <body>
    <script type="text/javascript">
      var object_name = '{{ object_name }}';
      var object_pk = '{{ object_pk }}';
      var form_id = '{{ form_id }}';
      var function_name = '{{ function_name }}';
      if(form_id){
        // Playerの追加を想定
        window.opener.{{ function_name }}(object_name, object_pk, form_id);
      }else{
        window.opener.{{ function_name }}(object_name, object_pk);
      }
      window.close();
    </script>
  </body>
</html>