{% extends 'record/base.html' %}

{% block content %}
<div class="col-md-8">
  <h1><a href="{% url 'game_list' %}">Game results</a></h1>
</div>
<br>
<div style="overflow-y:scroll;">
  <table class="table table-bordered table-hover table-responsive game-res-table" id="game-list">
    <tr class="table-success">
      <th>#</th>
      <th>game_date</th>
      <th>field</td>
      <th>rival</th>
      <th>score</th>
      <th>result</th>
      <th></th>
    </tr>
    {% for game in games %}
    <tr>
      <td>{{ game.id }}</td>
      <td>{{ game.game_date }}</td>
      <td>{{ game.field }}</td>
      <td><a href="{% url 'rival_detail' game.rival.id %}" class="btn-link">{{ game.rival.team_name }}</a></td>
      <td>{{ game.score }}</td>
      <td>{{ game.result }}</td>
      <td><a href="{% url 'game_detail' game.id %}" class="btn btn-primary">View</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
<script type="text/javascript">
// TDの値によって色を変える
$(function(){
    $('#game-list tbody td').not('.stats-title').each(function() {
        var val = $(this).text();
        if (val=="WIN"){
	        $(this).css({
	            backgroundColor: "orange"
	        });
	    }else if(val=="LOSE"){
	        $(this).css({
	            backgroundColor: "red"
	        });
	    }else if(val=="EVEN"){
	        $(this).css({
	            backgroundColor: "aqua"
	        });
	    }
    });
});
</script>
{% endblock content %}
