{% extends 'record/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'record/css/style.css' %}" />
<div class="col-md-8">
  <h1>New Game</h1>
</div>
<br>
<form action="{% url 'game_new' %}" method="POST" class="post-form">{% csrf_token %}
<div>
    <table class="table table-bordered table-hover table-responsive">
      <tr>
        <td class="table-info">
          {{ gameform.rival.errors }}
          <label for="{{ gameform.rival.id_for_label">Rival</label>
        </td>
        <td>
          {{ gameform.rival }}&nbsp;<a href="javascript:void(0);" onclick="window.open('{% url 'game_new_rival' %}','subwin','width=500,height=500');"><img src="/static/admin/img/icon-addlink.svg" alt="追加"/></a>
        </td>
      </tr>
      <tr>
        <td class="table-info">
          {{ gameform.game_date.errors }}
          <label for="{{ gameform.game_date.id_for_label">Game Date</label>
        </td>
        <td>
          {{ gameform.game_date }}
        </td>
      </tr>
      <tr>
        <td class="table-info">
          {{ gameform.field.errors }}
          <label for="{{ gameform.field.id_for_label">Field</label>
        </td>
        <td>
          {{ gameform.field }}
        </td>
      </tr>
      <tr>
        <td class="table-info">
          {{ gameform.remark.errors }}
          <label for="{{ gameform.remark.id_for_label">Remark</label>
        </td>
        <td>
          {{ gameform.remark }}
        </td>
      </tr>
    </table>
</div>
<br>
<div class="col-md-8">
  <h1>GAME RESULT</h1>
</div>

<div class="table table-bordered table-hover table-responsive">
    <table>
      <tr class="table-success">
        <td>
          My Team
        </td>
        <td>
        </td>
        <td>
          Rival
        </td>
      </tr>
      <tr>
        <td>
          <p>{{ gameform.point_gain }}</p>
        </td>
        <td class="font-point">
          <p>-</p>
        </td>
        <td>
          <p>{{ gameform.point_reduce }}</p>
        </td>
      </tr>
    </table>
</div>
<br>

<div class="col-md-8">
  <span class="h1">INDIVIDUAL STATS　</span><span class="h1"><a href="javascript:void(0);" onclick="addform();"><img src="/static/admin/img/icon-addlink.svg" alt="追加"/></a></span>
</div>
{{ statsform.management_form }}
{{ statsform.non_form_errors }}
<table class="table table-bordered table-hover table-responsive" id="stats_table">
  {% for stats in statsform %}
    {% if forloop.first %}
      <tr class="table-success">
        <th>Player</th>
        <th>Goal</th>
        <th>Assist</th>
        <th>Intercept</th>
        <th>Dribble</th>
        <th>Tuckle</th>
        <th>Remark</th>
      </tr>
    {% endif %}
    <tr>
      <td>{{ stats.player }}&nbsp;<a href="javascript:void(0);" onclick="window.open('{% url 'game_new_player' form_id=forloop.counter0 %}','subwin','width=500,height=500');"><img src="/static/admin/img/icon-addlink.svg" alt="追加"/></a></td>
      <td>{{ stats.goals }}</td>
      <td>{{ stats.assists }}</td>
      <td>{{ stats.intercepts }}</td>
      <td>{{ stats.dribbles }}</td>
      <td>{{ stats.tuckles }}</td>
      <td>{{ stats.remark }}</td>
    </tr>
  {% endfor %}
</table>

<br>
<div class="col-md-8">
  <button type="submit" name="Save" class="btn btn-primary">Save</button>
</div>
</form>

<script>
  $('#id_game_date').datetimepicker({
      format: 'yyyy-mm-dd HH:MM:ss',
      uiLibrary: 'bootstrap4'
  });

  function add_player(name, pk, form_id){
    var selects = document.body.querySelectorAll("select[name^='game-']");
    for(i = 0; i<selects.length; i++){
      var id = 'id_game-' + i + '-player'
      var sel = document.getElementById(id);
      var option = document.createElement('option');
      option.setAttribute('value', pk);
      option.innerHTML = name;
      
      if(form_id == i){
        sel.add(option, 0);
      }else{
        sel.add(option);
      }
      
      console.log(sel);
    }
    
    var select_id = 'id_game-' + form_id + '-player'
    var select = document.getElementById(select_id);
    select.options[0].selected= true;
  }
  
  function add_rival(name, pk){
    var id = 'id_rival'
    var sel = document.getElementById(id);
    var option = document.createElement('option');
    option.setAttribute('value', pk);
    option.innerHTML = name;
    sel.add(option, 0);
    sel.options[0].selected= true;
  }
  
  function addform(){
    var selects = document.body.querySelectorAll("select[name^='game-']");
    console.log("check forms");
    console.log(selects);
    
    var clone = selects[0].cloneNode(true);
    console.log("clone");
    console.log(clone);
    
    selects.appendChild(clone);
    
    
  }
</script>
{% endblock content %}
